<%- include("partials/header") -%>

<h1> Home </h1>

<p> <%= baseContent %> </p>

<% postList.forEach(function(post) { %>
  <h1> <%= post.title %> </h1>
  <p class="truncate">
    <%= post.content %>
    <a href="/posts/<%=post.title%>"> Read More </a>
  </p>
<% }); %>

<%- include("partials/footer") -%>
